/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.countainer-large{
    max-width: 1080px;
    margin:0 auto;
    
}

.countainer-small{
    max-width: 960px;
    margin:0px auto;
}

h1{
    padding: 30px 0;

}

.box{
    display: flex;
}

.box-small{
    background-color: crimson;
    width: 40%;
    min-height: 400px;
}

.box-large{
    background-color: darkgreen;
    width: 60%;
    min-height: 400px;
}
/* Header*/ 

.navbar{
    min-height: 70px;
    border: 2px dashed black;
    display:flex;
    justify-content: space-between;
}

.nav-left{
    width: 30%;
    background-color: aqua;
    
   
}
.nav-right{
    width: 30%;
    background-color: aqua;
   
}

.jumbotron{
    min-height: 600px;
    background-color: chartreuse;
}

/* Main */

.row{
    display: flex;
    margin:0 10px;
    flex-wrap: wrap;
}   

.col{
    min-height: 600px;
    border: 2px dashed blue;
    flex-basis: calc(100% / 3 - 20px);
    margin: 10px;
  
}

.col-large{
    flex-basis: 100%;
    min-height: 200px;
    border: 2px dashed red;
}

.card-small{
    min-height: 600px;
}

.card-large{
    min-height: 200px;
   
}

.logo-company-box{
    min-height: 400px;
    display:flex;
}

.logo{
    flex-basis: calc(100% / 3);
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
}

.company-description{
    flex-basis: calc(100% / 3);
    background-color: fuchsia;
}

.logo-img{
    min-height: 50%;
    flex-basis:50%;
    border:2px black dashed;
}

.trial{
    min-height: 200px;
    background-color: yellow;
}

.box-medium{
    min-height: 200px;
    width: 50%;
    background-color: aqua;
    border: 1px black dashed;
}