/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    padding-top: 70px;
}

a{
    text-decoration: none;
    color:black;
}

.a-blue{
    text-decoration: underline;
    color:#0061ff;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

.btn{   background-color: #0061ff;
    color:white;
    padding: 10px 15px;
    border: none;
    display: inline-block;
}

.btn-small {
    padding: 5px 15px;
}

.btn-blue{
    background-color: #0061ff; 
}

.btn-white{
    background-color: white;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid ;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-40{
    margin-top: 40px;
}

.ml-20{
    margin-left:20px;
}

ul{
    list-style: none;
}

.countainer-large{
    max-width: 1080px;
    margin:0 auto;
}

.countainer-small{
    max-width: 960px;
    margin:0px auto;
}

h1{ 
    font-size: 55px;
    padding-top: 80px;
    text-align: center;
    font-weight: bolder;
}

h2{
    font-size: 30px;
    padding-top:110px;
    padding-bottom: 55px;
    font-weight: bolder;
}

h3{
    margin: 20px 0;
    margin-left:20px;
}

p{
    padding-bottom: 20px;
}

.box{
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    bottom: -60px;
}

.box-trial{
    display: flex;
}

.box-small{
    width: 40%;
    min-height: 400px;
    font-size: 15px;
}

.box-large{
    width: 60%;
    min-height: 400px;
    font-size: 15px;
    
}

.box-medium{
    min-height: 200px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pl-5{
    padding-left: 5px;
}

/* Header*/ 

.navbar{
    min-height: 70px;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
}

.nav-left{
    width: 30%;
}
.nav-right{
    width: 30%;
}

.lista{
    font-size: 15px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 100%;
}



.jumbotron{
    min-height: 600px;
    background-color: #b4d0e7;

}

.jumbo-img{
    flex-basis: 100%;
    height: 400px;
}


/* Main */

.cont-spunta{
    display: flex;
    gap:60px;
    padding-bottom: 40px;
}

.spunta{
    text-align: center;
    line-height: 15px;
    display: flex;
}

.cerchietto-spuntato{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 4px solid #0061ff;
}

.cerchietto{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid grey;
}

.row{
    display: flex;
    margin:0 -10px;
    flex-wrap: wrap;
}   

.col{
    min-height: 600px;
    border: 1px solid gray;
    flex-basis: calc(100% / 3 - 20px);
    margin: 10px;
  
}

.col-operations{
    min-height: 600px;
    flex-basis: calc(100% / 3 - 20px);
    margin: 10px;
  
}

.col-large{
    flex-basis: 100%;
    min-height: 200px;
    margin:10px;
    border: 1px solid black;
}

.card-typology{
    text-align: center;
    padding:5px ; 
    border-bottom: 1px solid gray;
}



.card-small{
    min-height: 600px;
}

.card-large{
    min-height: 200px;
}

.split-card{
    display: flex;
}

.big-split{
    flex-basis: 80%;
    
}
.small-split{
    flex-basis: 20%;
}



.logo-company-box{
    min-height: 400px;
    display:flex;
    margin-top: 80px;
}

.logo{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.company-description{
    background-color: #F5F5F5;
    padding: 5px 15px;
    font-size: 15px;
}

.logo-img{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo-position{
    width: 50%;
    filter: invert(100%);
}

.logo-size{
    height: 40%;
    width: 40%;
    display: block;

}
/* logo backrounds */

.bg-green{
    background-color: #A2D39B;
}

.bg-firebricks{
    background-color: #61082B;
}
.bg-dogerblue{
    background-color: #0093ce;
}

.bg-red{
    background-color: #FF1C1C;
}

.bg-crismon{
    background-color: #d5001f;
}
.bg-gray{
    background-color: #B4D0E7;
}

.bg-blue{
    background-color: #0D2481;
}

.bg-yellow  {
    background-color: #FFD830;
}







.trial{
    min-height: 200px;
    background-color: #B4D0E7;
}

.trial-color{
    color: #61082B;
    font-size: 35px;
}


.faq{
    
    display: flex;
    flex-direction: column;
    
}

.questions{
    min-height: 50px;
    flex-basis: calc(100% / 3);
    border-bottom: 2px solid black;
}

.linea-sopra{
    border-top: 2px solid black;
}


/*Footer*/

.bg-black{
    background-color: black;
    min-height: 300px;
    color:white;
    margin-top: 10px;
}

.lista-bianca{
    list-style: none;
    font-size: 12px;
}

.lista-bianca h3{
    margin:20px 0px;
}

.lista-bianca a{
    color:white;  
}

.info-list{
    display: flex;
 
}

.box-list{
    min-height: 300px;
    flex-basis: calc(100% / 5);
}



.linea{
    margin-top: 40px;
    height: 1px;
    width: 50%;
    border:solid 1px gray;
    margin-bottom: 20px;
}

.footer-lenguage{
    font-size: 12px;
    padding: 5px;
    color: #858B90;
}
